.filter__subnav{

    @include clearfix;

    .filter__categories {
        max-width: 800px;
        margin: 0 auto;
        display: flex;

        .category-lists {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .category {
                list-style: none;
            }

            .category a{
                list-style: none;
                float: left;
                font-weight: 400;
                color: $color-grey-dark;
                cursor: pointer;
                text-decoration: none;
                padding: 10px;
                border-radius: 8px;
            }

            .activeFilter {
                background-color: $color-grey-light;
                color: $color-black !important;
                font-weight: bold !important;
                
            }
        
        }

    }

    .filter__settings {
        float: right;
    }
}

.filter__dropdown {

    input {
        width: 100%;
        padding: 10px;
        font-size: 0.9rem;
    }
}

.filter-area {
    // transition: all 0.3s ease-in;
    // position: absolute;
    // transition: all 0.3s ease-in;
    // z-index: 200;
    // width: 100%;
    // background-color: #fff;
}

.sub-filter-enter-done {
    top: 0px;
    opacity: 1;
}

.sub-filter-enter-active {
    top: -30px;
    opacity: 0;
}

.sub-filter-exit {
    top: -30px;
}

.sub-filter-exit-active {
    top: 0px;
}