.popup__area {
    border-top-left-radius: 20px;
    position: relative;
    z-index: 200;
    width: 100%;
    height: calc(100vh - 40px);
    overflow-y:auto;
    background-color: #fff;
    left: 0;

    .left__sidebar {
        width: 70%;
        display: inline-block;
    }

    .popup__left { 
        padding: 60px;
        min-height: 100vh;
        border-right: 1px solid $color-grey-light-2;

        .image__info {
            display: flex;
            justify-content: space-between;

            .user__area {

                .display__photo {
                    float: left;
                    width: 50px;
                    height: 50px;

                    & img {
                        width: 50px;
                        border-radius: 100px;
                        object-fit: cover;
                        height: 50px;
                    }
                }

                .user__details {
                    float: right;
                    margin-left: 10px;

                    & p {
                        font-weight: 400;
                        color: $color-grey;
                    }

                    .hire {
                        color: $color-primary;
                    }
                }
            }

            .action__button {
                float: right;
                & button:last-child {
                    margin-left: 10px;
                }
            }
        }

        .image__content {
            & img {
                width: 100%;
                border-radius: 10px;
            }

            & p {
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 2rem;
                margin-top: 50px;
            }
        }

        .modify__button {
            text-align: center;
        }
    }

    .popup__right {
        width: 30%;
        float: right;
        padding: 40px;
        height: 100%;
        right: 0;
        
        .shot__sidebar {

            .sidebar__button-area {
                display: flex;
                justify-content: space-between;
            }
        }

        .auth__suggestion {
            text-align: center;
            
            p {
                text-align: center;
                font-weight: 400;
            }

            img {
                width: 50%;
            }
        }

    }

    .user-details-section {
        text-align: center;
        border-top: 1px solid $color-grey-light-2;
        position: relative;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
            border: 1.5rem solid #fff;
            position: absolute;
            top: -40%;
            transform: translate(-50%,0);
        }

        p {
            font-weight: 400;
        }
    }

}